@import 'reset';
$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";

@import 'font-awesome';
@import 'bourbon';
@import 'neat';

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// Your SASS Journey Starts Here



body {
    background: gray;
    padding: 20px;
    margin: auto;
}

.main-body {
    @include outer-container(960px);
}
.listings {
    @include span-columns(12);
    @include omega();
}
article {
    @include span-columns(4);
    @include omega(3n);
    text-align: center;

    p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    button {
        @include button;
    }
}
