@import 'reset';
$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";

@import 'font-awesome';
@import 'bourbon';
@import 'neat';

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// Your SASS Journey Starts Here



body {
    max-width: 100%;
    position: relative;
    padding: 20px;


}
.buttons {
    position: relative;
    height: 80px;
    color: #43A5DA;
    border-bottom: 2px solid #43A5DA;

    #button-list {
        font-size: 1.2em;
        float: right;
    }
    #button-grid {
        font-size: 1.2em;
        float: right;
    }
    .fa {
        padding: 10px;
    }
}

.main-body {
    @include outer-container(960px);

}
.listings {
    @include span-columns(12);
    @include omega();
    border-left: 2px solid #43A5DA;
    border-right: 2px solid #43A5DA;

}
article {
    @include span-columns(4);
    @include omega(3n);
    text-align: center;
    font-size: 1.5em;
    padding: 20px;
    h2.name {
        color: #43A5DA;
    }
    h2.price {
        color: #CECECE;
    }

    p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 0.7em;
        padding: 10px 0;
        color: #43A5DA;
    }
    button {
        @include button;
    }
}
.grid {
    .name {
        color: red;
    }
}
